@model CodeFirstMVC.Models.EmpInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmpInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empDesigantion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empDesigantion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empIsPermenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empIsPermenant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.empNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
